#root {
  /* max-width: 1800px; */
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.navbar {
  width:100%;
  margin: 0;
  padding: 0;
 
}

/* 
.app {
  margin-top: -100px;
} */

/* .app h1 {
  margin-top: 100px;
} */

@media screen and (max-width: 768px) {
  .app {
    margin-top: -20px;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Post- ja Customer-tyylit */
.post, .customer {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.post h3, .customer h3 {
  margin: 0 0 8px;
}

.post p, .customer p {
  margin: 0;
}

/* CustomerDetails-komponentti */
.customerDetails {
  background-color: #C4F0C5;
  text-align: center;
  border-style: solid;
  width: 50%;
  margin: auto;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Positiiviset ja negatiiviset viestit */
.neg, .pos {
  font-size: 36px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10%;
  width: 70%;
  margin-left: 15%;
}

.neg {
  color: red;
  background: lightgrey;
}

.pos {
  color: rgb(14, 97, 14);
  background: lightgrey;
}

/* customer-edit-form */
.customer-edit-form div {
  margin-bottom: 15px;
}

.customer-edit-form label {
  display: block;
  margin-bottom: 5px;
}

.customer-edit-form input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

/* Input ja haku */
input:focus::placeholder {
  color: #555;
}

input {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #E6E6FA;
}

.inputsearch {
  font-style: italic !important;
  margin-bottom: 10px;
  background-color: #E6E6FA;
}

.inputsearch::-moz-placeholder {
  color: black;
  font-style: oblique 10deg;
  opacity: 1;
}

/* Nappien tyylit */
.nappi {
  border-radius: 10px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #E6E6FA;
  color: black;
}


